.gradle
gradle/wrapper/gradle-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/classes/
build/dependency-cache/
build/reports
build/libs
build/resources
build/test-results
build/tmp
build
nbbuild/
dist/
nbdist/
.nb-gradle/
gradle.properties'.idea' 
rest/